<header class="header">
  <div class="header-container">
    <!-- Логотип -->
    <a href="index.html" class="header-logo">
      <img
        src="./img/header/jefferson.png"
        srcset="./img/header/jefferson.png 1x, ./img/header/jefferson@2x.png 2x"
        alt="logo"
        loading="lazy"
      />
      <p>jefferson*</p>
    </a>

    <!-- Кнопка меню -->
    <button class="menu-btn js-open-menu" aria-expanded="false">Menu</button>

    <!-- Кнопка замовлення -->
    <a href="#order" class="hdr-order-btn">Order the project</a>

    <!-- Меню -->
    <nav class="menu js-menu-container" aria-hidden="true">
      <ul class="menu-list">
        <li><a href="#about-me">About me</a></li>
        <li><a href="#benefits">Benefits</a></li>
        <li><a href="#projects">Projects</a></li>
        <li><a href="#faq">FAQ</a></li>
      </ul>
    </nav>
  </div>
</header>
