<section class="work_together">
  <h2>Let’s work together</h2>
  <form action="#" method="post">
    <label for="email">Email</label><br />
    <input
      type="email"
      id="email"
      name="email"
      placeholder="Enter your e-mail"
      required
    /><br /><br />

    <label for="comment">Comment</label><br />
    <textarea
      id="comment"
      name="comment"
      rows="4"
      placeholder="comments"
      required
    ></textarea
    ><br /><br />

    <button class="submit-comment-form" type="submit">Send</button>
  </form>
  <div>
    <button type="button">lloydjefferson@gmail.com</button>
    <button type="button">+380 11 1111 11 11</button>
  </div>
</section>
