.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 20px;
}

.header-logo {
    display: flex;
    align-items: flex-start;
    gap: 8px;
}

.header-menu {
    flex-grow: 1;
    text-align: center;
}

.menu-btn {
    padding: 10px;
    width: 60px;
    height: 39px;
    background-color: transparent;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: -0.02em;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #fafafa;
}

.hdr-order-btn {
    background-color: #ed3b44;
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    transition: 0.2s cubic-bezier(0.34, 0.78, 0.68, 0.41);
    border-radius: 60px;
    padding: 18px 24px;
    width: 163px;
    height: 55px;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: -0.02em;
    color: #fafafa;
}

.hdr-order-btn:hover {
    background-color: #e0373f;
}

.menu {
    display: none;
    position: absolute;
    top: 60px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(28, 29, 32, 0.9);
    padding: 20px;
    width: 200px;
    border-radius: 8px;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: -0.02em;
    text-decoration-skip-ink: none;
    color: #fafafa;
    z-index: 10;
}

.menu.is-open {
    display: block;
}

.menu-list {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

.menu-list li {
    margin-bottom: 10px;
}

.menu-list a {
    color: #fafafa;
    text-decoration: none;
    font-size: 16px;
}

.menu-list a:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    .header-menu {
        display: none;
    }

    .burger-btn {
        display: block;
    }

    .menu {
        width: 100%;
        top: 50px;
        left: 0;
        transform: none;
        padding: 20px;
    }

    .header-container {
        flex-direction: column;
    }

    .menu-list {
        text-align: center;
    }
}
